*.py[cod]

# C extensions
pymba-setup/*.so

# Packages
pymba-setup/*.egg
pymba-setup/*.egg-info
pymba-setup/dist
pymba-setup/build
pymba-setup/eggs
pymba-setup/parts
pymba-setup/bin
pymba-setup/var
pymba-setup/sdist
pymba-setup/develop-eggs
pymba-setup/.installed.cfg
pymba-setup/lib
pymba-setup/lib64

# Installer logs
pymba-setup/pip-log.txt

# Unit test / coverage reports
pymba-setup/.coverage
pymba-setup/.tox
pymba-setup/nosetests.xml

# Translations
pymba-setup/*.mo

# Mr Developer
pymba-setup/.mr.developer.cfg
pymba-setup/.project
pymba-setup/.pydevproject

# PyCharm
pymba-setup/.idea/
pymba-setup/.cache/
